@font-face {
    font-family: "Golos UI";
    font-style: normal;
    src: url("../fonts/golos-ui_vf.woff2") format("woff2"),
    url("../fonts/golos-ui_vf.woff") format("woff");
    font-display: swap;
}