@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

.avatar {
    width: 123px;
    height: 123px;
}

.user-name {
    font: 400 32px/1.2 "Golos Text", sans-serif;
}

.bio {
    font: 400 15px/1.2 "Golos Text", sans-serif;
    color: #222222;
    white-space: pre-line;
}

.post-number {
    max-width: 101px;
    font: 400 14px/1.2 "Golos Text", sans-serif;
    color: #222222;
    padding: 6px 12px;
    border-radius: 8px;
    background: rgba(34, 34, 34, 0.05);
    margin: 16px 0 16px 0;
}

.post-image {
    width: 322px;
    height: 322px;
}

.post {
    max-width: 1000px;
}