@import url('https://fonts.googleapis.com/css2?family=Golos+Text:wght@400..900&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.menu-icon-wrapper {
    max-width: 40px;
    padding: 8px;
    margin-bottom: 16px;
}

.menu-icon-wrapper-active::after {
    display: block;
    content: '';
    width: 4px;
    height: 4px;
    background: #222222;
    border-radius: 50%;
}

.menu-icon {
    width: 24px;
    height: 24px;
    background-position: center center;
}

.menu-icon-home {
    background-image: url("../images/home.svg");
}

.menu-icon-user {
    background-image: url("../images/human.svg");
}

.menu-icon-plus {
    background-image: url("../images/plus.svg");
}

.post {
    margin: 16px 0 20px 0;
}

.avatar {
    width: 32px;
    height: 32px;
    display: inline-block;
    border-radius: 6px;
    border: none;
}

.text {
    font-family: "Golos Text";
    font-size: 14px;
    display: inline-block;
    margin-left: 10px;
}

.edit {
    width: 24px;
    height: 24px;
}

.post-image {
    width: 474px;
    height: 474px;
    display: block;
    margin-top: 16px;
}

.likes {
    max-width: 68px;
    font: 400 14px/1.2 "Golos Text", sans-serif;
    color: #222222;
    padding: 6px 12px;
    border-radius: 8px;
    background: rgba(34, 34, 34, 0.05);
    margin: 16px 0 16px 0;
}

.content-text {
    font-family: "Golos Text";
    font-size: 15px;
    white-space: pre-line;
}

.else-text {
    font-family: "Golos Text";
    font-size: 15px;
    color: #808080;
}

.time-text {
    font-family: "Golos Text";
    font-size: 15px;
    color: #808080;
    margin-top: 8px;
}