* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Golos UI", sans-serif; 
}

.post{
    margin: auto;
    margin-top: 36px;
}

.name-in-post {
    font-weight: 500;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #222222;
}

.number-of-likes {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
}

.description-of-post{
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    margin-top: 16px;
    color: #222222;
}

.time-of-post {
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color: #22222280;
    margin-top: 10px;
}

.like {
    width: 16px;
}

.post {
    max-width: 475px;
}

.main-information {
    margin-top: 10px;
}

.likes-of-post {
    display: inline;
    width: fit-content;
    margin-top: 16px;
    background-color: #2222220D;
    padding-top: 6px;
    padding-bottom: 6px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: 8px;
}

.avatar{
    width: 32px;
}

.menu-of-home {
    padding-top: 40px;
    padding-left: 16px;
    height: 100%;
    width: 72px;
    border-right: 1px solid #2222220D;
    position: fixed;
}

.lenta {
    padding-top: 76px;
}

.image-my-account {
    padding-top: 16px;
}

.image-of-new-post {
    padding-top: 16px;
}

.photo-of-post {
    margin-bottom: 16px;
}
