* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Golos UI", sans-serif
}

.title {
    font-weight: 700;
    font-size: 140px;
    line-height: 180px;
    letter-spacing: -1.5px;
    color: #222222;
    display: block;
    position: absolute;
    z-index: 1;
    left: 209px;
    top: 21px;
}

.content {
    display: flex;
    align-items: center;
    position: absolute;
    top: 126px;
    left: 300px;
}

.login-photo {
    width: 462px;
    height: 501px;
}

.form {
    margin-left: 107px;
}

.form__name-of-input {
    font-weight: 400;
    font-size: 15px;
    line-height: 18px;
    letter-spacing: -0.15px;
    color:#222222;
    display: block;
    margin-bottom: 5px;
}

.form__user-information {
    width: 343px;
    height: 44px;
    border-radius: 10px;
    border: 1px solid #F2F3F5;
    padding: 13px 12px;
    transition: border 0.3 ease;
    outline: none;
    background-color: #F2F3F5;
    color: #222222;
    display: block;
}

.password {
    padding-right: 48px;
}

.form__user-information:focus{
    border: 1px solid #3F8AE0;
}

.form__input-info{
    font-weight: 400;
    font-size: 13px;
    line-height: 16px;
    letter-spacing: -0.08px;
    color: #808080;
    margin-top: 5px;
    margin-bottom: 16px;
}

.form__password {
    display: flex;
    align-items: center;
    position: relative;
}

.form__eye-off {
    width: 24px;
    height: 24px;
    position: absolute;
    left: 307px;
}

.form__registration-button{
    width: 343px;
    height: 48px;
    border-radius: 10px;
    padding-left: 16px;
    padding-right: 16px;
    color: #FFFFFF;
    background-color: #222222;
    font-weight: 500;
    font-size: 16px;
    line-height: 19.2px;
    display: block;
    margin-top: 32px;
}